<a id="user" (click)="openPanel()" [ngClass]="{'active': isActive}">
    <div class="wrap avatar-icon">
        <span>G</span>
    </div>

    <div class="wrap col-right panel-profile">
        <div class="wrap box">
            <div class="wrap row box-in">
                <div class="wrap avatar-tumb">
                    <span>G</span>
                </div>

                <div class="wrap col-left profile-content">
                    <span class="title"> {{uName}} </span>
                    <span class="txt"> {{uEmail}} </span>
                </div>
            </div>

            <div class="wrap row row-right profile-control">
                <button type="button" class="bt-profile-control">Conta Geoflow</button>
                <button type="button" class="bt-profile-control" (click)=logOut()>Sair</button>
            </div>

        </div>
    </div>
</a>
