<section class="menu">
  <div class="wrapper">
    <div class="grid-1 narrow">
      <nav>
        <ul class="wrap row row-left">
          <li class="wrap">
            <a routerLink="/time-line" routerLinkActive="active">Linha do Tempo</a>
          </li>
          <li class="wrap">
            <a routerLink="/dashboard/usuarios" class="active">Gestão de cadastro</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section class="requester">
  <div class="cover">
    <div class="wrapper">
      <div class="inside">
        <div class="grid-2 grid-sm">

          <nav class="wrap row row-left breadcrumb">
            <ul class="wrap row">
              <li class="wrap row">
                <svg viewBox="0 0 64 64" class="w-sz3">
                  <path d="M45.37,9.56l-0.71,0.71c-0.16,0.16-0.44,0.05-0.44-0.18v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22l-0.75,0.75c-0.2,0.2-0.53,0.06-0.53-0.22v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22L9.24,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v29.36c0,0.41,0.34,0.75,0.75,0.75h8 c0.2,0,0.39-0.08,0.53-0.22l0.85-0.85c0.28-0.28,0.76-0.08,0.76,0.32v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22 l0.81-0.81c0.25-0.25,0.68-0.07,0.68,0.28v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22l14.8-14.8 c0.14-0.14,0.22-0.33,0.22-0.53V10.09c0-0.41-0.34-0.75-0.75-0.75H45.9C45.7,9.34,45.51,9.42,45.37,9.56z M36.22,11.96h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32c0,0.2-0.08,0.39-0.22,0.53l-7.41,7.41c-0.24,0.24-0.64,0.07-0.64-0.26V14.86 c0-0.2,0.08-0.39,0.22-0.53l2.15-2.15C35.83,12.04,36.02,11.96,36.22,11.96z M16.69,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64 c0-0.2,0.08-0.39,0.22-0.53l12.93-12.93c0.14-0.14,0.33-0.22,0.53-0.22h4.62c0.41,0,0.75,0.34,0.75,0.75v0.44 c0,0.2-0.08,0.39-0.22,0.53L20.13,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v24.26c0,0.2-0.08,0.39-0.22,0.53l-2.48,2.48 C17.08,51.96,16.88,52.04,16.69,52.04z M27.58,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64c0-0.2,0.08-0.39,0.22-0.53l7.3-7.3 c0.24-0.24,0.64-0.07,0.64,0.26v30.85c0,0.2-0.08,0.39-0.22,0.53l-2.37,2.37C27.97,51.96,27.78,52.04,27.58,52.04z M52.14,38.56 L38.88,51.82c-0.14,0.14-0.33,0.22-0.53,0.22h-4.3c-0.41,0-0.75-0.34-0.75-0.75v-0.23h0.01v-0.42c0-0.2,0.08-0.39,0.22-0.53 l10.46-10.46c0.14-0.14,0.22-0.33,0.22-0.53V14.73c0-0.2,0.08-0.39,0.22-0.53l2.02-2.02c0.14-0.14,0.33-0.22,0.53-0.22h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32C52.36,38.23,52.28,38.42,52.14,38.56z"/>
                </svg>
              </li>
              <li class="wrap row">
                <a routerLink="/dashboard/executoras" routerLinkActive="active">Gestão de cadastro</a>
              </li>
              <li class="wrap row">
                <a routerLink="/dashboard/usuarios" routerLinkActive="active">Usuários</a>
              </li>
            </ul>
          </nav>

          <nav class="wrap row row-right headline">
            <ul class="wrap row">
              <li class="wrap row">
                <a href="#">Prefeitura de Niterói</a>
              </li>
              <li class="wrap row">
                <a href="#">Talweg Engenharia</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="cover">
    <div class="wrapper">

      <div class="inside tabs">
        <nav>
          <ul class="wrap row row-left">
            <li><a routerLink="/dashboard/solicitante/executoras" class="active">Solicitante</a></li>
            <li><a routerLink="/dashboard/executora/obras">Executoras</a></li>
          </ul>
          <ul class="wrap row row-left row-to-col sub-tabs">
            <li>
              <a routerLink="/dashboard/executoras" routerLinkActive="active">Executoras</a>
            </li>
            <li>
              <a routerLink="/dashboard/obras" routerLinkActive="active">Obras</a>
            </li>
            <li>
              <a routerLink="/dashboard/usuarios" routerLinkActive="active">Usuários</a>
            </li>
          </ul>
        </nav>

        <div class="tab-content">

          <div class="tab-content">

            <div class="tab-content-include active">
              <div class="grid-2 tab-content-include-band">
                <div class="part-one">
                  <span>Incluir novo Usuário</span>
                </div>
                <div class="part-two">
                  <div class="collapse">
                    <a onclick="collapseMap()">
                      <div class="arrow active"></div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="tab-content-include-content">
                <form>
                  <div class="grid-1">

                    <!-- <div class="grid-1 narrow callback">
                      <span class="alert">Email ou senha inválidos</span>
                      <span class="error">Servidor não respondeu a requisição</span>
                      <span class="notice">Conta já conectada em outro dispositivo</span>
                    </div> -->

                    <div class="grid-1">
                      <div class="form-header">
                        <span>Dados principais</span>
                      </div>

                      <div class="grid-4 grid-sm">
                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="exename" placeholder="Insira o nome do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="exename">x</button>
                            <label>Nome</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="select grid-1">
                            <select name="genre" data-value="" required>
                              <option selected></option>
                              <option value="XX">XX</option>
                              <option value="XY">XY</option>
                            </select>
                            <span class="bar"></span>
                            <button type="button" class="clear" name="genre">x</button>
                            <label>Genero</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="execnpj" placeholder="Insira a data de nascimento aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="execnpj">x</button>
                            <label>Data de Nascimento</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="select grid-1">
                            <select name="relationship" data-value="" required>
                              <option selected></option>
                              <option value="Solteiro">Solteiro</option>
                              <option value="Casado">Casado</option>
                              <option value="Divorciado">Divorciado</option>
                            </select>
                            <span class="bar"></span>
                            <button type="button" class="clear" name="relationship">x</button>
                            <label>Status de relacionamento</label>
                          </div>
                        </div>
                      </div>

                      <div class="grid-4 grid-sm">
                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="execnpj" placeholder="Insira o número do CPF aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="execnpj">x</button>
                            <label>CPF</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="select grid-1">
                            <select name="relationship" data-value="" required>
                              <option selected></option>
                              <option value="Admin">Admin</option>
                              <optgroup label="Fiscal">
                                <option value="">Engenheiro Civil</option>
                                <option value="">Geólogo</option>

                              </optgroup>
                            </select>
                            <span class="bar"></span>
                            <button type="button" class="clear" name="relationship">x</button>
                            <label>Perfil de Usuário</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="execnpj" placeholder="Insira o número do CREA aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="execnpj">x</button>
                            <label>CREA</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="grid-1">
                      <div class="form-header">
                        <span>Dados de endereço</span>
                      </div>

                      <div class="grid-4 grid-md-2 grid-sm">
                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="execep" placeholder="Insira o CEP do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="execep">x</button>
                            <label>CEP</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="exenumb" placeholder="Insira o número do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="exenumb">x</button>
                            <label>Número</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="exestreet" placeholder="Insira o nome da rua do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="exestreet">x</button>
                            <label>Rua</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="exeneig" placeholder="Insira o nome da rua do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="exeneig">x</button>
                            <label>Bairro</label>
                          </div>
                        </div>
                      </div>

                      <div class="grid-4 grid-md-2 grid-sm">
                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="execity" placeholder="Insira o nome da cidade do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="execity">x</button>
                            <label>Cidade</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="exestate" placeholder="Insira o nome do estado do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="exestate">x</button>
                            <label>Estado</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="execoun" placeholder="Insira o nome do país do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="execoun">x</button>
                            <label>País</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="grid-1">
                      <div class="form-header">
                        <span>Dados de Contato</span>
                      </div>

                      <div class="grid-2 grid-sm">
                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="exephone" placeholder="Insira o número de contato do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="exephone">x</button>
                            <label>Telefone</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="email" name="exemail" placeholder="Insira o e-mail de contato do usuário aqui" required autocomplete="off" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="exemail">x</button>
                            <label>E-mail</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="grid-1">
                      <div class="form-header">
                        <span>Dados de Trabalho</span>
                      </div>

                      <div class="grid-4 grid-md-2 grid-sm no-gutter">

                        <div class="wrap col-top add-data-box">
                          <div class="form-group">
                            <div class="select grid-1">
                              <select name="work" data-value="">
                                <option selected></option>
                                <option value="">Obra 1</option>
                                <option>Obra 2</option>
                              </select>
                              <span class="bar"></span>
                              <button type="button" class="clear" name="work">x</button>
                              <label>Obra</label>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="select grid-1">
                              <select name="stretch" data-value="">
                                <option selected></option>
                                <option value="">Trecho 1</option>
                                <option>Trecho 2</option>
                              </select>
                              <span class="bar"></span>
                              <button type="button" class="clear" name="stretch">x</button>
                              <label>Trecho</label>
                            </div>
                          </div>

                          <div class="add-plus">
                            <a href="#">
                              <svg viewBox="0 0 64 64" class="w-sz4">
                                <polygon points="34.44,29.56 34.44,20.5 29.56,20.5 29.56,29.56 20.5,29.56 20.5,34.44 29.56,34.44 29.56,43.5 34.44,43.5 34.44,34.44 43.5,34.44 43.5,29.56 " />
                              </svg>
                            </a>
                          </div>
                        </div>

                        <div class="add-plus">
                          <a href="#">
                            <svg viewBox="0 0 64 64">
                              <polygon points="34.44,29.56 34.44,20.5 29.56,20.5 29.56,29.56 20.5,29.56 20.5,34.44 29.56,34.44 29.56,43.5 34.44,43.5 34.44,34.44 43.5,34.44 43.5,29.56 " />
                            </svg>
                          </a>
                        </div>

                      </div>
                    </div>

                  </div>

                  <div class="grid-1 narrow">
                    <div class="wrap row row-right form-panel-bt">
                      <button type="submit" class="bt-dashboard-control">Salvar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="tab-content-change">

              <div class="inside center-0 search">
                <div class="grid-1">

                  <form>
                    <div class="form-group">
                      <div class="grid-1">
                        <input type="text" name="busca" placeholder="Encontre seu registro " autocomplete="off" value="">
                        <span class="bar"></span>
                        <button type="button" class="clear" name="busca">x</button>
                      </div>
                    </div>
                  </form>

                  <div class="wrap row row-right info">
                    <div class="info-in">
                      <a href="#">O que posso e como posso pesquisar?</a>
                      <div class="wrap float">
                        <ul class="float-in">
                          <li>Itens a serem pesquisados: <b>Usuários</b>.</li>
                          <li>Você pode refinar sua pesquisa adicionando mais parâmetros separando-os por <b>virgulas</b>.</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="tab-content-change-list">

                <!-- <div class="grid-1 narrow callback">
                  <span class="alert">Email ou senha inválidos</span>
                  <span class="error">Servidor não respondeu a requisição</span>
                  <span class="notice">Conta já conectada em outro dispositivo</span>
                </div> -->

                <!-- Item da lista início -->
                <div class="item-list active">
                  <div class="grid-2 grid-sm item-list-header">
                    <div class="part-one">
                      <span>Jorge Salim Tomaz Neto</span>
                    </div>
                    <div class="part-two">
                      <ul class="item-list-panel">
                        <li>
                          <a href="#" class="edit">Editar</a>
                        </li>
                        <li>
                          <a href="#" class="delete">Excluir</a>
                        </li>
                      </ul>
                      <div class="collapse">
                        <a onclick="collapseMap()">
                          <div class="arrow active"></div>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="item-list-content">

                    <form>
                      <div class="grid-1">

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados principais</span>
                          </div>

                          <div class="grid-4 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exename" placeholder="Insira o nome do usuário aqui" required autocomplete="off" value="Jorge Salim Tomaz Neto" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exename">x</button>
                                <label>Nome</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="genre" data-value="" required disabled>
                                  <option></option>
                                  <option value="XX">XX</option>
                                  <option value="XY" selected>XY</option>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="genre">x</button>
                                <label>Genero</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execnpj" placeholder="Insira a data de nascimento aqui" required autocomplete="off" value="24/06/1983" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execnpj">x</button>
                                <label>Data de Nascimento</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="relationship" data-value="" required disabled>
                                  <option></option>
                                  <option value="Solteiro">Solteiro</option>
                                  <option value="Casado" selected>Casado</option>
                                  <option value="Divorciado">Divorciado</option>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="relationship">x</button>
                                <label>Status de relacionamento</label>
                              </div>
                            </div>
                          </div>

                          <div class="grid-4 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execnpj" placeholder="Insira o número do CPF aqui" required autocomplete="off" value="154616546-65" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execnpj">x</button>
                                <label>CPF</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="relationship" data-value="" required disabled>
                                  <option></option>
                                  <option value="Admin" selected>Admin</option>
                                  <optgroup label="Fiscal">
                                    <option value="Engenheiro Civil">Engenheiro Civil</option>
                                    <option value="Geólogo">Geólogo</option>

                                  </optgroup>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="relationship">x</button>
                                <label>Perfil de Usuário</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de endereço</span>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execep" placeholder="Insira o CEP do usuário aqui" required autocomplete="off" value="1516546984" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execep">x</button>
                                <label>CEP</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exenumb" placeholder="Insira o número do usuário aqui" required autocomplete="off" value="98" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exenumb">x</button>
                                <label>Número</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exestreet" placeholder="Insira o nome da rua do usuário aqui" required autocomplete="off" value="Rua Joaqueim Salim" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exestreet">x</button>
                                <label>Rua</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exeneig" placeholder="Insira o nome da rua do usuário aqui" required autocomplete="off" value="Cascadura" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exeneig">x</button>
                                <label>Bairro</label>
                              </div>
                            </div>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execity" placeholder="Insira o nome da cidade do usuário aqui" required autocomplete="off" value="Rio de Janeiro" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execity">x</button>
                                <label>Cidade</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exestate" placeholder="Insira o nome do estado do usuário aqui" required autocomplete="off" value="Rio de Janeiro" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exestate">x</button>
                                <label>Estado</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execoun" placeholder="Insira o nome do país do usuário aqui" required autocomplete="off" value="Brasil" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execoun">x</button>
                                <label>País</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de Contato</span>
                          </div>

                          <div class="grid-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exephone" placeholder="Insira o número de contato do usuário aqui" required autocomplete="off" value="+55 21 98441-1407" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exephone">x</button>
                                <label>Telefone</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="email" name="exemail" placeholder="Insira o e-mail de contato do usuário aqui" required autocomplete="off" value="jorgesalim@gmail.com" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exemail">x</button>
                                <label>E-mail</label>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </form>

                  </div>
                </div>
                <!-- Item da lista fim -->

                <!-- Item da lista início -->
                <div class="item-list">
                  <div class="grid-2 grid-sm item-list-header">
                    <div class="part-one">
                      <span>Richard Assis</span>
                    </div>
                    <div class="part-two">
                      <ul class="item-list-panel">
                        <li>
                          <a href="#" class="edit">Editar</a>
                        </li>
                        <li>
                          <a href="#" class="delete">Excluir</a>
                        </li>
                      </ul>
                      <div class="collapse">
                        <a onclick="collapseMap()">
                          <div class="arrow"></div>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="item-list-content">

                    <form>
                      <div class="grid-1">

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados principais</span>
                          </div>

                          <div class="grid-4 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exename" placeholder="Insira o nome do usuário aqui" required autocomplete="off" value="Jorge Salim Tomaz Neto" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exename">x</button>
                                <label>Nome</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="genre" data-value="" required disabled>
                                  <option></option>
                                  <option value="XX">XX</option>
                                  <option value="XY" selected>XY</option>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="genre">x</button>
                                <label>Genero</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execnpj" placeholder="Insira a data de nascimento aqui" required autocomplete="off" value="24/06/1983" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execnpj">x</button>
                                <label>Data de Nascimento</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="relationship" data-value="" required disabled>
                                  <option></option>
                                  <option value="Solteiro">Solteiro</option>
                                  <option value="Casado" selected>Casado</option>
                                  <option value="Divorciado">Divorciado</option>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="relationship">x</button>
                                <label>Status de relacionamento</label>
                              </div>
                            </div>
                          </div>

                          <div class="grid-4 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execnpj" placeholder="Insira o número do CPF aqui" required autocomplete="off" value="154616546-65" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execnpj">x</button>
                                <label>CPF</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="relationship" data-value="" required disabled>
                                  <option></option>
                                  <option value="Admin" selected>Admin</option>
                                  <optgroup label="Fiscal">
                                    <option value="Engenheiro Civil">Engenheiro Civil</option>
                                    <option value="Geólogo">Geólogo</option>

                                  </optgroup>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="relationship">x</button>
                                <label>Perfil de Usuário</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de endereço</span>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execep" placeholder="Insira o CEP do usuário aqui" required autocomplete="off" value="1516546984" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execep">x</button>
                                <label>CEP</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exenumb" placeholder="Insira o número do usuário aqui" required autocomplete="off" value="98" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exenumb">x</button>
                                <label>Número</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exestreet" placeholder="Insira o nome da rua do usuário aqui" required autocomplete="off" value="Rua Joaqueim Salim" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exestreet">x</button>
                                <label>Rua</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exeneig" placeholder="Insira o nome da rua do usuário aqui" required autocomplete="off" value="Cascadura" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exeneig">x</button>
                                <label>Bairro</label>
                              </div>
                            </div>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execity" placeholder="Insira o nome da cidade do usuário aqui" required autocomplete="off" value="Rio de Janeiro" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execity">x</button>
                                <label>Cidade</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exestate" placeholder="Insira o nome do estado do usuário aqui" required autocomplete="off" value="Rio de Janeiro" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exestate">x</button>
                                <label>Estado</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execoun" placeholder="Insira o nome do país do usuário aqui" required autocomplete="off" value="Brasil" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execoun">x</button>
                                <label>País</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de Contato</span>
                          </div>

                          <div class="grid-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exephone" placeholder="Insira o número de contato do usuário aqui" required autocomplete="off" value="+55 21 98441-1407" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exephone">x</button>
                                <label>Telefone</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="email" name="exemail" placeholder="Insira o e-mail de contato do usuário aqui" required autocomplete="off" value="jorgesalim@gmail.com" disabled>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exemail">x</button>
                                <label>E-mail</label>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </form>

                  </div>
                </div>
                <!-- Item da lista fim -->

                <!-- Item da lista início -->
                <div class="item-list active editing">
                  <div class="grid-2 grid-sm item-list-header">
                    <div class="part-one">
                      <span>Elenir Medeiros</span>
                    </div>
                    <div class="part-two">
                      <ul class="item-list-panel">
                        <li>
                          <a href="#" class="save">Salvar</a>
                        </li>
                        <li>
                          <a href="#" class="cancel">Cancelar</a>
                        </li>
                        <li>
                          <a href="#" class="delete">Excluir</a>
                        </li>
                      </ul>
                      <div class="collapse">
                        <a onclick="collapseMap()">
                          <div class="arrow"></div>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="item-list-content">

                    <form>
                      <div class="grid-1">

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados principais</span>
                          </div>

                          <div class="grid-4 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exename" placeholder="Insira o nome do usuário aqui" required autocomplete="off" value="Elenir Medeiros">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exename">x</button>
                                <label>Nome</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="genre" data-value="">
                                  <option></option>
                                  <option value="XX" selected>XX</option>
                                  <option value="XY">XY</option>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="genre">x</button>
                                <label>Genero</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execnpj" placeholder="Insira a data de nascimento aqui" required autocomplete="off" value="24/06/1983">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execnpj">x</button>
                                <label>Data de Nascimento</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="relationship" data-value="" required>
                                  <option></option>
                                  <option value="Solteiro">Solteiro</option>
                                  <option value="Casado" selected>Casado</option>
                                  <option value="Divorciado">Divorciado</option>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="relationship">x</button>
                                <label>Status de relacionamento</label>
                              </div>
                            </div>
                          </div>

                          <div class="grid-4 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execnpj" placeholder="Insira o número do CPF aqui" required autocomplete="off" value="154616546-65">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execnpj">x</button>
                                <label>CPF</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="relationship" data-value="" required>
                                  <option></option>
                                  <option value="Admin">Admin</option>
                                  <optgroup label="Fiscal">
                                    <option value="Engenheiro Civil" selected>Engenheiro Civil</option>
                                    <option value="Geólogo">Geólogo</option>

                                  </optgroup>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="relationship">x</button>
                                <label>Perfil de Usuárioe</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execnpj" placeholder="Insira o número do CREA aqui" required autocomplete="off" value="6566516/42">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execnpj">x</button>
                                <label>CREA</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de endereço</span>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execep" placeholder="Insira o CEP do usuário aqui" required autocomplete="off" value="1516546984">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execep">x</button>
                                <label>CEP</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exenumb" placeholder="Insira o número do usuário aqui" required autocomplete="off" value="98">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exenumb">x</button>
                                <label>Número</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exestreet" placeholder="Insira o nome da rua do usuário aqui" required autocomplete="off" value="Rua Joaqueim Salim">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exestreet">x</button>
                                <label>Rua</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exeneig" placeholder="Insira o nome da rua do usuário aqui" required autocomplete="off" value="Cascadura">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exeneig">x</button>
                                <label>Bairro</label>
                              </div>
                            </div>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execity" placeholder="Insira o nome da cidade do usuário aqui" required autocomplete="off" value="Rio de Janeiro">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execity">x</button>
                                <label>Cidade</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exestate" placeholder="Insira o nome do estado do usuário aqui" required autocomplete="off" value="Rio de Janeiro">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exestate">x</button>
                                <label>Estado</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="execoun" placeholder="Insira o nome do país do usuário aqui" required autocomplete="off" value="Brasil">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execoun">x</button>
                                <label>País</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de Contato</span>
                          </div>

                          <div class="grid-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="exephone" placeholder="Insira o número de contato do usuário aqui" required autocomplete="off" value="+55 21 98441-1407">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exephone">x</button>
                                <label>Telefone</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="email" name="exemail" placeholder="Insira o e-mail de contato do usuário aqui" required autocomplete="off" value="jorgesalim@gmail.com">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="exemail">x</button>
                                <label>E-mail</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de Trabalho</span>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm no-gutter">

                            <div class="wrap col-top add-data-box">
                              <div class="form-group">
                                <div class="select grid-1">
                                  <select name="work" data-value="">
                                    <option></option>
                                    <option value="Obra 1" selected>Obra 1</option>
                                    <option value="Obra 2">Obra 2</option>
                                  </select>
                                  <span class="bar"></span>
                                  <button type="button" class="clear" name="work">x</button>
                                  <label>Obra</label>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="select grid-1">
                                  <select name="stretch" data-value="">
                                    <option></option>
                                    <option value="Trecho 1" selected>Trecho 1</option>
                                    <option value="Trecho 2">Trecho 2</option>
                                  </select>
                                  <span class="bar"></span>
                                  <button type="button" class="clear" name="stretch">x</button>
                                  <label>Trecho</label>
                                </div>
                              </div>

                              <div class="add-plus">
                                <a href="#">
                                  <svg viewBox="0 0 64 64" class="w-sz4">
                                    <polygon points="34.44,29.56 34.44,20.5 29.56,20.5 29.56,29.56 20.5,29.56 20.5,34.44 29.56,34.44 29.56,43.5 34.44,43.5 34.44,34.44 43.5,34.44 43.5,29.56 " />
                                  </svg>
                                </a>
                              </div>
                            </div>

                            <div class="add-plus">
                              <a href="#">
                                <svg viewBox="0 0 64 64">
                                  <polygon points="34.44,29.56 34.44,20.5 29.56,20.5 29.56,29.56 20.5,29.56 20.5,34.44 29.56,34.44 29.56,43.5 34.44,43.5 34.44,34.44 43.5,34.44 43.5,29.56 " />
                                </svg>
                              </a>
                            </div>

                          </div>
                        </div>

                      </div>
                    </form>

                  </div>
                </div>
                <!-- Item da lista fim -->

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="wrap row loading-records">
        <a href="#">Carregar mais registros</a>
      </div>

    </div>
  </div>

  <!-- lightbox Início -->
  <div class="lightbox">
    <a href="#" class="close">
      <span></span>
    </a>
    <div class="content">
      <div class="photo">
        <img src="assets/public/img/img1.jpg" alt="img1">
      </div>
    </div>
  </div>
  <!-- lightbox Fim -->

</section>
