<!--
<div class="grid-1 callback">
  <span class="alert">Email ou senha inválidos</span>
  <span class="error">Servidor não respondeu a requisição</span>
  <span class="notice">Conta já conectada em outro dispositivo</span>
</div>
-->
<div class="grid-1 narrow callback">
  <span class="msg {{messageService?.mensagem?.type}} {{messageService?.mensagem?.active}}">
    <p>{{messageService?.mensagem?.description}}</p>
    <button class="close" (click)="closeMSG()">
        <svg viewBox="0 0 64 64" class="w-sz3">
            <polygon points="34.44,29.56 34.44,20.5 29.56,20.5 29.56,29.56 20.5,29.56 20.5,34.44 29.56,34.44 29.56,43.5 34.44,43.5 34.44,34.44 43.5,34.44 43.5,29.56 "></polygon>
        </svg>
    </button>  
  </span>
</div>
