
<section class="menu">
  <div class="wrapper">
    <div class="grid-1 narrow">
      <nav>
        <ul class="wrap row row-left">
          <li class="wrap">
            <a routerLink="/time-line" routerLinkActive="active">Linha do Tempo</a>
          </li>
          <li class="wrap">
            <a routerLink="/dashboard/solicitante/trechos" class="active">Gestão de cadastro</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section class="requester">
  <div class="cover">
    <div class="wrapper">
      <div class="inside">
        <div class="grid-2 grid-sm">

          <nav class="wrap row row-left breadcrumb">
            <ul class="wrap row">
              <li class="wrap row">
                <svg viewBox="0 0 64 64" class="w-sz3">
                  <path d="M45.37,9.56l-0.71,0.71c-0.16,0.16-0.44,0.05-0.44-0.18v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22l-0.75,0.75c-0.2,0.2-0.53,0.06-0.53-0.22v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22L9.24,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v29.36c0,0.41,0.34,0.75,0.75,0.75h8 c0.2,0,0.39-0.08,0.53-0.22l0.85-0.85c0.28-0.28,0.76-0.08,0.76,0.32v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22 l0.81-0.81c0.25-0.25,0.68-0.07,0.68,0.28v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22l14.8-14.8 c0.14-0.14,0.22-0.33,0.22-0.53V10.09c0-0.41-0.34-0.75-0.75-0.75H45.9C45.7,9.34,45.51,9.42,45.37,9.56z M36.22,11.96h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32c0,0.2-0.08,0.39-0.22,0.53l-7.41,7.41c-0.24,0.24-0.64,0.07-0.64-0.26V14.86 c0-0.2,0.08-0.39,0.22-0.53l2.15-2.15C35.83,12.04,36.02,11.96,36.22,11.96z M16.69,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64 c0-0.2,0.08-0.39,0.22-0.53l12.93-12.93c0.14-0.14,0.33-0.22,0.53-0.22h4.62c0.41,0,0.75,0.34,0.75,0.75v0.44 c0,0.2-0.08,0.39-0.22,0.53L20.13,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v24.26c0,0.2-0.08,0.39-0.22,0.53l-2.48,2.48 C17.08,51.96,16.88,52.04,16.69,52.04z M27.58,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64c0-0.2,0.08-0.39,0.22-0.53l7.3-7.3 c0.24-0.24,0.64-0.07,0.64,0.26v30.85c0,0.2-0.08,0.39-0.22,0.53l-2.37,2.37C27.97,51.96,27.78,52.04,27.58,52.04z M52.14,38.56 L38.88,51.82c-0.14,0.14-0.33,0.22-0.53,0.22h-4.3c-0.41,0-0.75-0.34-0.75-0.75v-0.23h0.01v-0.42c0-0.2,0.08-0.39,0.22-0.53 l10.46-10.46c0.14-0.14,0.22-0.33,0.22-0.53V14.73c0-0.2,0.08-0.39,0.22-0.53l2.02-2.02c0.14-0.14,0.33-0.22,0.53-0.22h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32C52.36,38.23,52.28,38.42,52.14,38.56z"/>
                </svg>
              </li>
              <li class="wrap row">
                <a routerLink="/dashboard/solicitante/executoras" routerLinkActive="active">Gestão de cadastro</a>
              </li>
              <li class="wrap row">
                <a routerLink="/dashboard/solicitante/trechos" routerLinkActive="active">Trechos</a>
              </li>
            </ul>
          </nav>

          <nav class="wrap row row-right headline">
            <ul class="wrap row">
              <li class="wrap row">
                <a href="#">Prefeitura de Niterói</a>
              </li>
              <li class="wrap row">
                <a href="#">Talweg Engenharia</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="cover">
    <div class="wrapper">

      <div class="inside tabs">
        <nav>
          <ul class="wrap row row-left">
            <li><a routerLink="/dashboard/solicitante/executoras" class="active">Solicitante</a></li>
            <li><a routerLink="/dashboard/executora/obras">Executoras</a></li>
          </ul>
          <ul class="wrap row row-left row-to-col sub-tabs">
            <li>
              <a routerLink="/dashboard/solicitante/executoras" routerLinkActive="active">Executoras</a>
            </li>
            <li>
              <a routerLink="/dashboard/solicitante/obras" routerLinkActive="active">Obras</a>
            </li>
            <li>
              <a routerLink="/dashboard/solicitante/trechos" class="active">Trechos</a>
            </li>
            <li>
              <a>Usuários</a>
            </li>
          </ul>
        </nav>

        <div class="tab-content">

            <app-message></app-message>

          <div class="tab-content-change">

            <!--<div class="inside center-0 search">
              <div class="grid-1">

                <ng-autocomplete
                  [debounceTime]="2000"
                  [data]="obrasSearch"
                  [searchKeyword]="keyword"
                  placeHolder="Pesquise aqui!"
                  (selected)='selectEvent($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  historyIdentifier="countries"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate"
                  (inputCleared)="list(0, 3)"
                >
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.nomeobra"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>

                <div class="wrap row row-right info">
                  <div class="info-in">
                    <a href="#">O que posso e como posso pesquisar?</a>
                    <div class="wrap float">
                      <ul class="float-in">
                        <li>Itens a serem pesquisados: <b>Obras</b>.</li>
                        <li>Você pode refinar sua pesquisa adicionando mais parâmetros separando-os por <b>virgulas</b>.</li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>-->

            <div class="tab-content-change-blocks">

              <!-- <div class="grid-1 narrow callback">
                <span class="alert">Email ou senha inválidos</span>
                <span class="error">Servidor não respondeu a requisição</span>
                <span class="notice">Conta já conectada em outro dispositivo</span>
              </div> -->


              <div class="grid-3 grid-md-2 grid-sm sections double-gap double-padding-tb">

                <!-- Item da lista início -->
                <div class="item-blocks" *ngFor="let obra of obras;let i = index">
                  <div class="item-blocks-header">
                    <span>{{obra.nomeobra}}</span>
                  </div>

                  <!-- Bloco de salvar trechoInsert início -->
                  <div class="item-blocks-content">

                    <div class="item-blocks-content-stretch {{trechoInsert[i].active}}">

                      <div class="grid-2 item-blocks-content-stretch-header" style="background: #54C4E8;">
                        <div class="part-one">
                          <span>incluir novo trecho</span>
                        </div>
                        <div class="part-two">
                          <div class="collapse">
                            <a (click)="trechoInsert[i].active = classActive.active(trechoInsert[i].active)">
                              <div class="arrow active"></div>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="item-blocks-content-stretch-features">
                        <form (submit)="onSubmit(trechoInsert[i], obra.id)" id="formTrecho-{{i}}">


                          <div class="item-blocks-content-stretch-features-form">

                            <div class="form-group">
                              <div class="grid-1">
                                <input name="insertTrechoNome" id="insertTrechoNome-{{i}}" [(ngModel)]="trechoInsert[i].nome" data-value="" required >
                                <span class="bar"></span>
                                <button type="button" class="clear" name="stretch">x</button>
                                <label>Nome do Trecho</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <textarea name="insertTrechoDesc" placeholder="Insira a descrição do trecho aqui" id="insertTrechoDesc-{{i}}" [(ngModel)]="trechoInsert[i].descricao" required ></textarea>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="stretch">x</button>
                                <label>Descrição do Trecho</label>
                              </div>
                            </div>

                          </div>

                          <div class="item-blocks-content-stretch-panel">
                            <ul>
                              <li>
                                <button type="submit" class="bt-dashboard-control">Salvar</button>
                              </li>
                            </ul>
                          </div>
                        </form>
                      </div>


                    </div>

                  </div>
                  <!-- Bloco de salvar trechoInsert fim -->

                  <!-- Bloco de trechoInsert início -->
                  <div class="item-blocks-content" *ngFor="let trecho of obra?.trechos;let iT = index">

                    <div class="item-blocks-content-stretch {{trecho?.active}} {{trecho?.edit}}">

                      <div class="grid-2 item-blocks-content-stretch-header">
                        <div class="part-one">
                          <span>{{trecho?.nome}}</span>
                        </div>
                        <div class="part-two">
                          <div class="collapse">
                            <a (click)="trecho.active = classActive.active(trecho.active); trecho.edit =''; trecho.disable=true">
                              <div class="arrow {{trecho.active}}"></div>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="item-blocks-content-stretch-features">
                        <form (ngSubmit)="onUpdate(trecho, obra.id)" id="trecho-{{trecho.id}}">
                          <div class="item-blocks-content-stretch-features-form">

                              <div class="form-group">
                                <div class="grid-1">
                                  <input type="text" name="nometrecho" id="nometrecho-{{trecho.id}}" [(ngModel)]="trecho.nome" placeholder="Insira o nome do trecho aqui" required autocomplete="on" [value]="trecho.nome" [disabled]="trecho?.disable">
                                  <span class="bar"></span>
                                  <button type="button" class="clear" name="stretch" (click)="trecho.nome=''">x</button>
                                  <label>Nome do Trecho</label>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="grid-1">
                                  <input type="text" name="descricaotrecho" id="nomedescricao-{{trecho.id}}" placeholder="Insira a descrição do trecho aqui" [(ngModel)]="trecho.descricao" [disabled]="trecho?.disable" [value]="trecho.descricao" />
                                  <span class="bar"></span>
                                  <button type="button" class="clear" name="stretch" (click)="trecho.descricao=''">x</button>
                                  <label>Descrição do Trecho</label>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="select grid-1">
                                  <select name="statustrecho" data-value="" [(ngModel)]="trecho.status" required [disabled]="trecho?.disable" [value]="trecho.status" >
                                    <option selected [value]="'Aguardando'" [selected]="trecho.status === 'Aguardando'">Aguardando</option>
                                    <option selected [value]="'Construindo'" [selected]="trecho.status === 'Construindo'">Construindo</option>
                                    <option selected [value]="'Finalizado'" [selected]="trecho.status === 'Finalizado'">Finalizado</option>
                                  </select>
                                  <span class="bar"></span>
                                  <button type="button" class="clear" name="stretch" (click)="trecho.status">x</button>
                                  <label>Status do Trecho</label>
                                </div>
                              </div>

                          </div>

                          <div class="item-blocks-content-stretch-panel">
                            <ul>
                              <li>
                                <a (click)="trecho.edit = classActive.edit(trecho.edit); trecho.disable = classActive.disable(trecho.disable === undefined ? true : trecho.disable); trecho.active = 'active'" class="bt-dashboard-control">{{classActive.edit(trecho.edit) === '' ? 'Cancelar' : 'Editar'}}</a>
                              </li>
                              <li>
                                <button type="submit" class="bt-dashboard-control" [disabled]="trecho?.disable">Salvar</button>
                              </li>
                            </ul>
                          </div>
                        </form>
                      </div>

                    </div>

                  </div>
                  <!-- Bloco de trechoInsert fim -->


                  <!-- Botão adicionar início
                  <div class="add-plus">
                    <a href="#">
                      <svg viewBox="0 0 64 64">
                        <polygon points="34.44,29.56 34.44,20.5 29.56,20.5 29.56,29.56 20.5,29.56 20.5,34.44 29.56,34.44 29.56,43.5 34.44,43.5 34.44,34.44 43.5,34.44 43.5,29.56 " />
                      </svg>
                    </a>
                  </div>
                  <!-- Botão adicionar fim -->

                </div>
                <!-- Item da lista fim -->

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="wrap row loading-records">
        <a (click)="start=start+3;listMore(start, limit)">Carregar mais registros</a>
      </div>

    </div>
  </div>

  <!-- lightbox Início -->
  <div class="lightbox">
    <div class="content">
      <div class="splash">
        <div class="splash-msg">
          <span>Excluir o item?</span>
        </div>

        <ul class="splash-panel">
          <li>
            <a href="#" class="bt-dashboard-control">Sim</a>
          </li>
          <li>
            <a href="#" class="bt-dashboard-control">Não</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <!-- lightbox Fim -->

</section>
