<section class="menu">
  <div class="wrapper">
    <div class="grid-1 narrow">
      <nav>
        <ul class="wrap row row-left">
          <li class="wrap">
            <a class="active">Linha do Tempo</a>
          </li>
          <li class="wrap">
            <a routerLink="/dashboard/solicitante/executoras" routerLinkActive="active">Gestão de cadastro</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section class="requester">
  <div class="cover">
    <div class="wrapper">
      <div class="inside">
        <div class="grid-2 grid-sm">

          <nav class="wrap row row-left breadcrumb">
            <ul class="wrap row">
              <li class="wrap row">
                <svg viewBox="0 0 64 64" class="w-sz3">
                  <path
                    d="M45.37,9.56l-0.71,0.71c-0.16,0.16-0.44,0.05-0.44-0.18v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22l-0.75,0.75c-0.2,0.2-0.53,0.06-0.53-0.22v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22L9.24,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v29.36c0,0.41,0.34,0.75,0.75,0.75h8 c0.2,0,0.39-0.08,0.53-0.22l0.85-0.85c0.28-0.28,0.76-0.08,0.76,0.32v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22 l0.81-0.81c0.25-0.25,0.68-0.07,0.68,0.28v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22l14.8-14.8 c0.14-0.14,0.22-0.33,0.22-0.53V10.09c0-0.41-0.34-0.75-0.75-0.75H45.9C45.7,9.34,45.51,9.42,45.37,9.56z M36.22,11.96h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32c0,0.2-0.08,0.39-0.22,0.53l-7.41,7.41c-0.24,0.24-0.64,0.07-0.64-0.26V14.86 c0-0.2,0.08-0.39,0.22-0.53l2.15-2.15C35.83,12.04,36.02,11.96,36.22,11.96z M16.69,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64 c0-0.2,0.08-0.39,0.22-0.53l12.93-12.93c0.14-0.14,0.33-0.22,0.53-0.22h4.62c0.41,0,0.75,0.34,0.75,0.75v0.44 c0,0.2-0.08,0.39-0.22,0.53L20.13,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v24.26c0,0.2-0.08,0.39-0.22,0.53l-2.48,2.48 C17.08,51.96,16.88,52.04,16.69,52.04z M27.58,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64c0-0.2,0.08-0.39,0.22-0.53l7.3-7.3 c0.24-0.24,0.64-0.07,0.64,0.26v30.85c0,0.2-0.08,0.39-0.22,0.53l-2.37,2.37C27.97,51.96,27.78,52.04,27.58,52.04z M52.14,38.56 L38.88,51.82c-0.14,0.14-0.33,0.22-0.53,0.22h-4.3c-0.41,0-0.75-0.34-0.75-0.75v-0.23h0.01v-0.42c0-0.2,0.08-0.39,0.22-0.53 l10.46-10.46c0.14-0.14,0.22-0.33,0.22-0.53V14.73c0-0.2,0.08-0.39,0.22-0.53l2.02-2.02c0.14-0.14,0.33-0.22,0.53-0.22h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32C52.36,38.23,52.28,38.42,52.14,38.56z"/>
                </svg>
              </li>
              <li class="wrap row">
                <a routerLink="/time-line" routerLinkActive="active">Linha do Tempo</a>
              </li>
            </ul>
          </nav>

          <nav class="wrap row row-right headline">
            <ul class="wrap row">
              <li class="wrap row">
                <a href="#">Prefeitura de Niterói</a>
              </li>
              <li class="wrap row">
                <a href="#">Talweg Engenharia</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="cover">
    <div class="wrapper">

      <!--<div class="inside center-0 search">
        <div class="grid-1">

          <ng-select
            [items]="obras"
            bindLabel="contrato"
            [(ngModel)]="obra" name="obras"
            (change)="add()"
            (clear)="list(0, 3)"
          >
          </ng-select>

          &lt;!&ndash;<div class="wrap row row-right info">
            <div class="info-in">
              <a href="#">O que posso e como posso pesquisar?</a>
              <div class="wrap float">
                <ul class="float-in">
                  <li>Itens a serem pesquisados: <b>Executoras</b>, <b>Obras</b>, <b>Trechos</b>, <b>Datas</b>, <b>Status</b>,
                    <b>Fiscais</b> e <b>Coletores</b>.
                  </li>
                  <li>Você pode refinar sua pesquisa adicionando mais parâmetros separando-os por <b>virgulas</b>.</li>
                </ul>
              </div>
            </div>
          </div>&ndash;&gt;

        </div>
      </div>-->

      <div class="inside map">

        <div class="grid-1 narrow map-box {{activeMaps}}">

          <div class="grid-2">
            <div class="part-one">
              <span>Mapa</span>
            </div>

            <div class="part-two">
              <div class="collapse">
                <a (click)="active('maps');activeMaps === 'active' ? collapseMaps(true) : collapseMaps(false)">
                  <div class="arrow"></div>
                </a>
              </div>
            </div>
          </div>

          <div id="map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="8">
              <agm-marker-cluster
                imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
                <agm-marker
                  *ngFor="let m of maps; let i = index"
                  [latitude]="m.latitude"
                  [longitude]="m.longitude"
                  [label]="m.nomeobra.charCodeAt(0)"
                  [markerDraggable]="false">
                  <agm-info-window>
                    <div class="row">
                      <div class="col s12">
                        <a [routerLink]="['/time-line',m?.id,'work']" style="font-weight: bold">Contrato:
                          {{m?.contrato}}</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        <a [routerLink]="['/time-line',m?.id,'work']" style="color:red;font-weight: bold">{{m?.nomeobra}}</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12">
                        {{ m?.endereco }} - {{m?.bairro}} - {{m?.cidade}}
                      </div>
                    </div>
                  </agm-info-window>
                </agm-marker>
              </agm-marker-cluster>
            </agm-map>
          </div>
        </div>

      </div>

      <div class="inside work-blocks">

        <div class="grid-3 grid-md-2 grid-sm sections double-gap double-padding-tb">

          <!-- Box obra dinamico -->

          <div class="grid-1 narrow work-blocks-box" *ngFor="let obra of obras">
            <ul class="grid-1 narrow">
              <li class="grid-1 labor-contract">
                <span><a [routerLink]="['/time-line',obra.id,'work']">Contrato {{obra.contrato}}</a></span>
              </li>
              <li>
                <div class="grid-2 narrow">
                  <div class="grid-1 narrow">
                    <span class="date-range">{{obra.datafim | date: 'dd/MM/yyyy'}}</span>
                  </div>
                  <!-- finalized 'in-progress' ? 'not-started' -->
                  <span class="status {{status(obra.status)}}">{{obra.status}}</span>
                </div>
              </li>
              <li class="grid-1">
                <span>{{obra.nomeobra}}</span>
              </li>
              <li class="grid-1">
                <span>
                    <a (click)="maps = [obra]">{{obra.endereco}}, {{obra.numero}}, {{obra.bairro}}, {{obra.cidade}} - {{obra.estado}}, faltacep</a>
                </span>
              </li>
            </ul>
          </div>

          <!-- fim box obra dinamico -->

        </div>

      </div>

      <div class="wrap row loading-records">
        <a (click)="start=start+3;listMore(start, limit)">Carregar mais registros</a>
      </div>

    </div>
  </div>

  <!-- lightbox Início -->
  <div class="lightbox">
    <a class="close">
      <span></span>
    </a>
    <div class="content">
      <div class="photo">
        <img src="assets/img/img1.jpg" alt="img1">
      </div>
    </div>
  </div>
  <!-- lightbox Fim -->

</section>
