  <section class="header">
    <div class="wrapper">
      <div class="wrap">
        <div class="grid-2 grid-sm header-box">

          <div class="wrap row row-left logo">
            <svg viewBox="0 0 110 30" class="w-sz14">
              <path d="M18.27,11.9l-2.66,2.66c-0.23,0.23-0.07,0.62,0.26,0.62h2.51h1.99c0.24,0,0.42,0.24,0.35,0.47 c-1.03,3.15-4.02,5.45-7.47,5.45c-4.36,0-7.91-3.58-7.85-7.95c0.05-4.29,3.6-7.78,7.88-7.76c1.97,0.01,3.83,0.74,5.27,2.06 c0.14,0.13,0.36,0.13,0.5-0.01l1.88-1.88c0.15-0.15,0.14-0.38-0.01-0.52c-2.14-2.01-4.94-3.09-7.9-3.03 c-5.93,0.12-10.79,4.9-11,10.82c-0.23,6.38,4.9,11.65,11.23,11.65c2.95,0,5.74-1.14,7.85-3.2c2.11-2.06,3.31-4.81,3.38-7.76 l0.03-1.36c0.01-0.2-0.16-0.37-0.36-0.37h-5.62C18.43,11.8,18.33,11.84,18.27,11.9z"/>
              <path d="M33.18,24.3c-4.02,0-7.31-3.24-7.37-7.25c-0.06-4.07,3.3-7.49,7.37-7.49c1.97,0,3.82,0.77,5.21,2.16l0.94,0.94 c0.14,0.14,0.14,0.37,0,0.51l-7.51,7.51c0.42,0.15,0.88,0.24,1.36,0.24c0.93,0,1.81-0.32,2.52-0.9c0.15-0.12,0.36-0.11,0.5,0.02 l1.85,1.91c0.14,0.15,0.14,0.39-0.02,0.53C36.68,23.66,34.98,24.3,33.18,24.3z M32.97,12.95c-1.98,0.1-3.61,1.67-3.77,3.65 c-0.04,0.53,0.02,1.03,0.16,1.5c0.03,0.09,0.14,0.12,0.2,0.05l4.83-4.83c0.07-0.07,0.04-0.18-0.05-0.2 C33.91,12.99,33.44,12.93,32.97,12.95z"/>
              <path d="M47.31,24.3c-4.06,0-7.37-3.31-7.37-7.37s3.31-7.37,7.37-7.37s7.37,3.31,7.37,7.37S51.38,24.3,47.31,24.3z M47.31,12.95 c-2.2,0-3.99,1.79-3.99,3.99s1.79,3.99,3.99,3.99c2.2,0,3.99-1.79,3.99-3.99S49.51,12.95,47.31,12.95z"/>
              <path d="M66.85,5.53c0.19-0.02,0.34-0.17,0.34-0.36V2.5c0-0.21-0.17-0.37-0.38-0.36c-3.89,0.2-6.99,3.42-6.99,7.36v2.18 c0,0.07-0.05,0.12-0.12,0.12h-1.42c-0.1,0-0.19,0.04-0.26,0.11l-2.66,2.66c-0.23,0.23-0.07,0.62,0.26,0.62h2.51h1.57 c0.07,0,0.12,0.05,0.12,0.12v12.33c0,0.2,0.16,0.36,0.36,0.36h2.66c0.2,0,0.36-0.16,0.36-0.36V15.3c0-0.07,0.05-0.12,0.12-0.12h3.5 c0.2,0,0.36-0.16,0.36-0.36v-2.66c0-0.2-0.16-0.36-0.36-0.36h-3.5c-0.07,0-0.12-0.05-0.12-0.12V9.5C63.2,7.42,64.81,5.7,66.85,5.53 z"/>
              <path d="M68.4,5.66V24c0,0.2,0.16,0.36,0.36,0.36h2.66c0.2,0,0.36-0.16,0.36-0.36V5.51V3.01c0-0.32-0.39-0.48-0.62-0.26L68.5,5.41 C68.44,5.48,68.4,5.57,68.4,5.66z"/>
              <path d="M80.36,24.36c-4.06,0-7.37-3.31-7.37-7.37s3.31-7.37,7.37-7.37c4.06,0,7.37,3.31,7.37,7.37S84.43,24.36,80.36,24.36z M80.36,13.01c-2.2,0-3.99,1.79-3.99,3.99s1.79,3.99,3.99,3.99c2.2,0,3.99-1.79,3.99-3.99S82.56,13.01,80.36,13.01z"/>
              <path d="M105.67,9.84c-0.2-0.16-0.5-0.07-0.58,0.17l-0.55,1.78l0,0l-2.5,8.12c-0.03,0.11-0.19,0.11-0.23,0.01l-2.3-6.2 c-0.05-0.14-0.19-0.24-0.34-0.24h-2.45c-0.15,0-0.29,0.09-0.34,0.24l-2.3,6.2c-0.04,0.11-0.19,0.1-0.23-0.01l-2.5-8.11l-0.55-1.79 c-0.08-0.25-0.38-0.34-0.58-0.17l-2.18,1.8c-0.11,0.09-0.16,0.25-0.12,0.39l3.68,12.08c0.05,0.15,0.19,0.26,0.35,0.26h3.84 c0.15,0,0.29-0.09,0.34-0.24l1.71-4.6c0.04-0.1,0.19-0.1,0.23,0l1.71,4.6c0.05,0.14,0.19,0.24,0.34,0.24h3.84 c0.16,0,0.3-0.1,0.35-0.26l3.69-12.08c0.04-0.14,0-0.29-0.12-0.39L105.67,9.84z"/>
            </svg>

            <span class="product">Daily</span>
          </div>

          <div class="wrap row row-right panel">


            
            <ul class="wrap row" *ngIf="!isLogin">
              <li>
                <a routerLink="/o-produto" class="default">O Produto</a>
              </li>
              <li>
                <a routerLink="/ajuda" class="default">Ajuda</a>
              </li>
            </ul>

            <app-logged-popup *ngIf="isLogin"></app-logged-popup>

          </div>

        </div>
      </div>
    </div>
  </section>
