<section class="menu">
  <div class="wrapper">
    <div class="grid-1 narrow">
      <nav>
        <ul class="wrap row row-left">
          <li class="wrap">
            <a routerLink="/time-line" routerLinkActive="active">Linha do Tempo</a>
          </li>
          <li class="wrap">
            <a routerLink="/dashboard/solicitante/obras" class="active">Gestão de cadastro</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section class="requester">
  <div class="cover">
    <div class="wrapper">
      <div class="inside">
        <div class="grid-2 grid-sm">

          <nav class="wrap row row-left breadcrumb">
            <ul class="wrap row">
              <li class="wrap row">
                <svg viewBox="0 0 64 64" class="w-sz3">
                  <path d="M45.37,9.56l-0.71,0.71c-0.16,0.16-0.44,0.05-0.44-0.18v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22l-0.75,0.75c-0.2,0.2-0.53,0.06-0.53-0.22v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22L9.24,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v29.36c0,0.41,0.34,0.75,0.75,0.75h8 c0.2,0,0.39-0.08,0.53-0.22l0.85-0.85c0.28-0.28,0.76-0.08,0.76,0.32v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22 l0.81-0.81c0.25-0.25,0.68-0.07,0.68,0.28v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22l14.8-14.8 c0.14-0.14,0.22-0.33,0.22-0.53V10.09c0-0.41-0.34-0.75-0.75-0.75H45.9C45.7,9.34,45.51,9.42,45.37,9.56z M36.22,11.96h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32c0,0.2-0.08,0.39-0.22,0.53l-7.41,7.41c-0.24,0.24-0.64,0.07-0.64-0.26V14.86 c0-0.2,0.08-0.39,0.22-0.53l2.15-2.15C35.83,12.04,36.02,11.96,36.22,11.96z M16.69,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64 c0-0.2,0.08-0.39,0.22-0.53l12.93-12.93c0.14-0.14,0.33-0.22,0.53-0.22h4.62c0.41,0,0.75,0.34,0.75,0.75v0.44 c0,0.2-0.08,0.39-0.22,0.53L20.13,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v24.26c0,0.2-0.08,0.39-0.22,0.53l-2.48,2.48 C17.08,51.96,16.88,52.04,16.69,52.04z M27.58,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64c0-0.2,0.08-0.39,0.22-0.53l7.3-7.3 c0.24-0.24,0.64-0.07,0.64,0.26v30.85c0,0.2-0.08,0.39-0.22,0.53l-2.37,2.37C27.97,51.96,27.78,52.04,27.58,52.04z M52.14,38.56 L38.88,51.82c-0.14,0.14-0.33,0.22-0.53,0.22h-4.3c-0.41,0-0.75-0.34-0.75-0.75v-0.23h0.01v-0.42c0-0.2,0.08-0.39,0.22-0.53 l10.46-10.46c0.14-0.14,0.22-0.33,0.22-0.53V14.73c0-0.2,0.08-0.39,0.22-0.53l2.02-2.02c0.14-0.14,0.33-0.22,0.53-0.22h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32C52.36,38.23,52.28,38.42,52.14,38.56z"/>
                </svg>
              </li>
              <li class="wrap row">
                <a routerLink="/dashboard/solicitante/executoras" routerLinkActive="active">Gestão de cadastro</a>
              </li>
              <li class="wrap row">
                <a routerLink="/dashboard/solicitante/obras" routerLinkActive="active">Obras</a>
              </li>
            </ul>
          </nav>

          <nav class="wrap row row-right headline">
            <ul class="wrap row">
              <li class="wrap row">
                <a href="#">Prefeitura de Niterói</a>
              </li>
              <li class="wrap row">
                <a href="#">Talweg Engenharia</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="cover">
    <div class="wrapper">

      <div class="inside tabs">
        <nav>
          <ul class="wrap row row-left">
            <li><a routerLink="/dashboard/solicitante/executoras" class="active">Solicitante</a></li>
            <li><a routerLink="/dashboard/executora/obras">Executoras</a></li>
          </ul>
          <ul class="wrap row row-left row-to-col sub-tabs">
            <li>
              <a routerLink="/dashboard/solicitante/executoras" routerLinkActive="active">Executoras</a>
            </li>
            <li>
              <a routerLink="/dashboard/solicitante/obras" class="active">Obras</a>
            </li>
            <li>
              <a routerLink="/dashboard/solicitante/trechos" routerLinkActive="active">Trechos</a>
            </li>
            <li>
              <a>Usuários</a>
            </li>
          </ul>
        </nav>

        <div class="tab-content">

            <app-message></app-message>

          <div class="tab-content">

            <div class="tab-content-include {{classIncluir}}">
              <div class="grid-2 tab-content-include-band">
                <div class="part-one">
                  <span>Incluir nova Obra</span>
                </div>
                <div class="part-two">
                  <div class="collapse">
                    <a (click)="classIncluir = classActive.active(classIncluir)">
                      <div class="arrow"></div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="tab-content-include-content">
                <form (ngSubmit)="onSubmit()">
                  <div class="grid-1">

                    <div class="grid-1">
                      <div class="form-header">
                        <span>Dados principais</span>
                      </div>

                      <div class="grid-2 grid-sm">
                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="nomeobra" id="nomeobra" [(ngModel)]="obra.nomeobra" placeholder="Insira o nome da obra aqui" required autocomplete="on" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="nomeobra" (click)="obra.nomeobra=''">x</button>
                            <label>Nome</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="contrato" id="contrato" [(ngModel)]="obra.contrato" placeholder="Insira o número do contrato aqui" required autocomplete="on" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="contrato" (click)="obra.contrato=''">x</button>
                            <label>Contrato</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="grid-1">
                      <div class="form-header">
                        <span>Dados de endereço</span>
                      </div>

                      <div class="grid-4 grid-md-2 grid-sm">
                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="CEP" id="CEP" [(ngModel)]="obra.cep" placeholder="Insira o CEP da obra aqui" required autocomplete="on" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="CEP" (click)="obra.cep=''">x</button>
                            <label>CEP</label>
                          </div>
                        </div>

                        <div class="form-group">
                            <div class="grid-1">
                              <input type="text" name="endereco" id="endereco" [(ngModel)]="obra.endereco" placeholder="Insira o nome da rua da obra aqui" required autocomplete="on" value="">
                              <span class="bar"></span>
                              <button type="button" class="clear" name="endereco" (click)="obra.endereco=''">x</button>
                              <label>Rua</label>
                            </div>
                          </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="number" name="numero" id="numero" [(ngModel)]="obra.numero" placeholder="Insira o número da obra aqui" required autocomplete="on" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="numero" (click)="obra.numero=0">x</button>
                            <label>Número</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="complemento" id="complemento" [(ngModel)]="obra.complemento" placeholder="Insira o nome do complemento da obra aqui" required autocomplete="on" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="complemento" (click)="obra.complemento=''">x</button>
                            <label>Complemento</label>
                          </div>
                        </div>
                      </div>

                      <div class="grid-4 grid-md-2 grid-sm">
                      <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="bairro" id="bairro" [(ngModel)]="obra.bairro" placeholder="Insira o nome do bairro da obra aqui" required autocomplete="on" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="bairro" (click)="obra.bairro=''">x</button>
                            <label>Bairro</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="cidade" id="cidade" [(ngModel)]="obra.cidade" placeholder="Insira o nome da cidade da obra aqui" required autocomplete="on" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="cidade" (click)="obra.cidade=''">x</button>
                            <label>Cidade</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="grid-1">
                            <input type="text" name="estado" id="estado" [(ngModel)]="obra.estado" placeholder="Insira o nome do estado da obra aqui" required autocomplete="on" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="estado" (click)="obra.estado=''">x</button>
                            <label>Estado</label>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                    <div class="grid-2 grid-sm narrow">
                      <div class="grid-1">
                        <div class="form-header">
                          <span>Dados de Custo</span>
                        </div>
                        <div class="form-group">
                          <div class="grid-1">
                            <input type="number" datatype="number" name="valorobra" id="valorobra" [(ngModel)]="obra.valorobra" placeholder="Insira o valor da obra aqui" required autocomplete="on" value="">
                            <span class="bar"></span>
                            <button type="button" class="clear" name="valorobra" (click)="obra.valorobra=0">x</button>
                            <label>Valor</label>
                          </div>
                        </div>
                      </div>

                      <div class="grid-1">
                        <div class="form-header">
                          <span>Dados de Vigência</span>
                        </div>

                        <div class="grid-2 grid-sm narrow">
                          <div class="form-group">
                            <div class="grid-1">
                              <input type="date" name="valuework" datatype="date" id="datainicio" [(ngModel)]="obra.datainicio" placeholder="Insira a data de início da obra aqui" required autocomplete="off" value="">
                              <span class="bar"></span>
                              <button type="button" class="clear" name="valuework" (click)="obra.datainicio=''">x</button>
                              <label>Início Previsto</label>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="grid-1">
                              <input type="date" name="valuework" datatype="date" id="datafim" [(ngModel)]="obra.datafim" placeholder="Insira a data de fim da obra aqui" required autocomplete="off" value="">
                              <span class="bar"></span>
                              <button type="button" class="clear" name="valuework" (click)="obra.datafim=''">x</button>
                              <label>Término Previsto</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="grid-1">
                      <div class="form-header">
                        <span>Dados de Fiscalização</span>
                      </div>

                      <div class="grid-4 grid-md-2 grid-sm">
                        <div class="form-group">
                          <div class="select grid-1">
                            <select name="engenheiro" data-value="" datatype="number" [(ngModel)]="obra.engenheiro.id"  required>
                              <option selected *ngFor="let engenheiro of engenheiros" [value]="engenheiro?.id">{{engenheiro.username}}</option>
                            </select>
                            <span class="bar"></span>
                            <button type="button" class="clear" name="valuework">x</button>
                            <label>Engenheiro Civil</label>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="select grid-1">
                            <select name="stretch" data-value="" [(ngModel)]="obra.geologo.id"  required>
                              <option selected *ngFor="let geologo of geologos" [value]="geologo?.id ">{{geologo.username}}</option>
                            </select>
                            <span class="bar"></span>
                            <button type="button" class="clear" name="valuework">x</button>
                            <label>Geólogo</label>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="grid-1">
                      <div class="form-header">
                        <span>Dados de Trabalho</span>
                      </div>
                      <div class="form-group">
                        <div class="select grid-1">
                          <select name="executora" data-value="" [(ngModel)]="obra.executora.id" required>
                            <option *ngFor="let exec of executoras" [value]="exec?.id">{{exec.nome}}</option>
                          </select>
                          <span class="bar"></span>
                          <button type="button" class="clear" name="executora">x</button>
                          <label>Executora</label>
                        </div>
                      </div>
                      <!--
                      <div class="grid-4 grid-md-2 grid-sm no-gutter">

                        <div class="wrap col-top add-data-box" *ngFor="let trechoInsert of obra.trechos; let iT= index ;">
                          <div class="form-group">
                            <div class="grid-1">
                              <input type="text" name="nometrecho" id="nometrecho" [ngModel]="obra.trechos[iT].nome" placeholder="Insira o nome da trechoInsert aqui" required [value]="obra.trechos[iT].nome"/>
                              <span class="bar"></span>
                              <button type="button" class="clear" name="nometrecho" (click)="obra.trechos[iT].nome=''">x</button>
                              <label>Trecho</label>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="grid-1">
                              <textarea type="text" name="descricaotrecho" id="descricaotrecho" [ngModel]="obra.trechos[iT].descricao" placeholder="Insira a descrição da trechoInsert aqui" >{{obra.trechos[iT].descricao}}</textarea>
                              <span class="bar"></span>
                              <button type="button" class="clear" name="descricaotrecho" (click)="obra.trechos[iT].descricao=''">x</button>
                              <label>Descrição</label>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="grid-1">
                              <input type="text" name="statustrecho" id="statustrecho" [(ngModel)]="obra.trechos[iT].status" placeholder="Insira o nome da trechoInsert aqui" required autocomplete="on" [value]="obra.trechos[iT].status">
                              <span class="bar"></span>
                              <button type="button" class="clear" name="statustrecho" (click)="obra.trechos[iT].status=''">x</button>
                              <label>Status</label>
                            </div>
                          </div>



                        </div>

                        <div class="add-plus">
                          <a (click)="addTrecho()">
                            <svg viewBox="0 0 64 64">
                              <polygon points="34.44,29.56 34.44,20.5 29.56,20.5 29.56,29.56 20.5,29.56 20.5,34.44 29.56,34.44 29.56,43.5 34.44,43.5 34.44,34.44 43.5,34.44 43.5,29.56 " />
                            </svg>
                          </a>
                        </div>

                      </div>
                      -->
                    </div>

                  </div>

                  <div class="grid-1 narrow">
                    <div class="wrap row row-right form-panel-bt">
                      <button type="submit" class="bt-dashboard-control">Salvar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="tab-content-change">

              <!--<div class="inside center-0 search">
                <div class="grid-1">

                  <ng-autocomplete
                    [debounceTime]="2000"
                    [data]="obrasSearch"
                    [searchKeyword]="keyword"
                    placeHolder="Pesquise aqui!"
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)'
                    historyIdentifier="countries"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    (inputCleared)="list(0, 3)"
                  >
                  </ng-autocomplete>
                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.nomeobra"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>

                  <div class="wrap row row-right info">
                    <div class="info-in">
                      <a href="#">O que posso e como posso pesquisar?</a>
                      <div class="wrap float">
                        <ul class="float-in">
                          <li>Itens a serem pesquisados: <b>Obras</b>.</li>
                          <li>Você pode refinar sua pesquisa adicionando mais parâmetros separando-os por <b>virgulas</b>.</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>-->

              <div class="tab-content-change-list">

                <!-- <div class="grid-1 narrow callback">
                  <span class="alert">Email ou senha inválidos</span>
                  <span class="error">Servidor não respondeu a requisição</span>
                  <span class="notice">Conta já conectada em outro dispositivo</span>
                </div> -->

                <!-- Item da lista início -->
                <div class="item-list {{o.active}} {{o.edit}}" *ngFor="let o of obras; let i = index;">
                  <div class="grid-2 grid-sm item-list-header">
                    <div class="part-one">
                      <span>{{o.nomeobra}}</span>
                    </div>
                    <div class="part-two">
                      <ul class="item-list-panel">
                        <li>
                          <a (click)="o.edit = classActive.edit(o.edit); o.disable = classActive.disable(o.disable === undefined ? true : o.disable); o.active = 'active'" [class]="classActive.edit(o.edit) === '' ? 'cancel' : 'edit'">{{classActive.edit(o.edit) === '' ? 'Cancelar' : 'Editar'}}</a>
                        </li>
                        <li>
                          <a (click)="delete(o);" class="delete">Excluir</a>
                        </li>
                      </ul>
                      <div class="collapse">
                        <a (click)="o.active = classActive.active(o.active); o.edit =''; o.disable=true">
                          <div class="arrow"></div>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="item-list-content">
                    <form (ngSubmit)="onUpdate(o)" id="obra-{{o.id}}">
                      <div class="grid-1">

                        <app-message></app-message>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados principais</span>
                          </div>

                          <div class="grid-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="nomeobra" id="nomeobra-{{o.id}}" [(ngModel)]="o.nomeobra" placeholder="Insira o nome da obra aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="nomeobra" (click)="o.nomeobra=''">x</button>
                                <label>Nome</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="contrato" id="contrato-{{o.id}}" [(ngModel)]="o.contrato" placeholder="Insira o número do contrato aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="contrato" (click)="o.contrato=''">x</button>
                                <label>Contrato</label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de endereço</span>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm">
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="CEP" id="CEP-{{o.id}}" [(ngModel)]="o.cep" placeholder="Insira o CEP da obra aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="CEP" (click)="o.CEP=''">x</button>
                                <label>CEP</label>
                              </div>
                            </div>                            

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="endereco" id="endereco-{{o.id}}" [(ngModel)]="o.endereco" placeholder="Insira o nome da rua da obra aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="endereco" (click)="o.endereco=''">x</button>
                                <label>Rua</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="number" name="numero" id="numero-{{o.id}}" [(ngModel)]="o.numero" placeholder="Insira o número da obra aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="numero" (click)="o.numero=''">x</button>
                                <label>Número</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="complemento" id="complemento-{{o.id}}" [(ngModel)]="o.complemento" placeholder="Insira o nome do complemento da obra aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="complemento" (click)="o.complemento=''">x</button>
                                <label>Complemento</label>
                              </div>
                            </div>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm">
                          <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="bairro" id="bairro-{{o.id}}" [(ngModel)]="o.bairro" placeholder="Insira o nome do bairro da obra aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="bairro" (click)="o.bairro=''">x</button>
                                <label>Bairro</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="cidade" id="cidade-{{o.id}}" [(ngModel)]="o.cidade" placeholder="Insira o nome da cidade da obra aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="cidade" (click)="o.cidade=''">x</button>
                                <label>Cidade</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="grid-1">
                                <input type="text" name="estado" id="estado-{{o.id}}" [(ngModel)]="o.estado" placeholder="Insira o nome do estado da obra aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="estado" (click)="o.estado=''">x</button>
                                <label>Estado</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="grid-2 grid-sm narrow">
                          <div class="grid-1">
                            <div class="form-header">
                              <span>Dados de Custo</span>
                            </div>
                            <div class="form-group">
                              <div class="grid-1">
                                <input type="number" datatype="number" name="valorobra" id="valorobra-{{o.id}}" [(ngModel)]="o.valorobra" placeholder="Insira o valor da obra aqui" required autocomplete="on" value="" [disabled]="o?.disable">
                                <span class="bar"></span>
                                <button type="button" class="clear" name="valorobra" (click)="o.valorobra=''">x</button>
                                <label>Valor</label>
                              </div>
                            </div>
                          </div>

                          <div class="grid-1">
                            <div class="form-header">
                              <span>Dados de Vigência</span>
                            </div>

                            <div class="grid-2 grid-sm narrow">
                              <div class="form-group">
                                <div class="grid-1">
                                  <input type="date" name="datainicio-{{o.id}}" datatype="date" id="datainicio-{{o.id}}" [(ngModel)]="o.datainicio" placeholder="Insira a data de início da obra aqui" required [disabled]="o?.disable">
                                  <span class="bar"></span>
                                  <button type="button" class="clear" name="datainicio-{{o.id}}" (click)="o.datainicio=''">x</button>
                                  <label>Início Previsto</label>
                                </div>
                              </div>

                              <div class="form-group">
                                <div class="grid-1">
                                  <input type="date" name="datafim-{{o.id}}" datatype="date" id="datafim-{{o.id}}" [(ngModel)]="o.datafim" placeholder="Insira a data de fim da obra aqui" required [disabled]="o?.disable">
                                  <span class="bar"></span>
                                  <button type="button" class="clear" name="datafim-{{o.id}}" (click)="o.datafim=''">x</button>
                                  <label>Término Previsto</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de Fiscalização</span>
                          </div>

                          <div class="grid-4 grid-md-2 grid-sm">
                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="engenheiro" data-value="" [(ngModel)]="o?.engenheiro.id"  required [disabled]="o?.disable">
                                  <option selected *ngFor="let engenheiro of engenheiros" [value]="engenheiro?.id">{{engenheiro.nome}}</option>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="valuework">x</button>
                                <label>Engenheiro Civil</label>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="stretch" data-value="" [(ngModel)]="o?.geologo.id"  required [disabled]="o?.disable">
                                  <option selected *ngFor="let geologo of geologos" [value]="geologo?.id ">{{geologo.nome}}</option>
                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="valuework">x</button>
                                <label>Geólogo</label>
                              </div>
                            </div>
                            <!-- STATUS -->
                            <div class="form-group">
                              <div class="select grid-1">
                                <select name="status" data-value="" [(ngModel)]="o.status"  required [disabled]="o?.disable">
                                  <option selected [value]="'Aguardando'" [selected]="o.status === 'Aguardando'">Aguardando</option>
                                  <option selected [value]="'Construindo'" [selected]="o.status === 'Construindo'">Construindo</option>
                                  <option selected [value]="'Finalizado'" [selected]="o.status === 'Finalizado'">Finalizado</option>

                                </select>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="valuework">x</button>
                                <label>Status</label>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div class="grid-1">
                          <div class="form-header">
                            <span>Dados de Trabalho</span>
                          </div>
                          <div class="form-group">
                            <div class="select grid-1">
                              <select name="executora" data-value="" [(ngModel)]="o?.executora.id" required [disabled]="o?.disable">
                                <option *ngFor="let exec of executoras" [value]="exec?.id">{{exec.nome}}</option>
                              </select>
                              <span class="bar"></span>
                              <button type="button" class="clear" name="executora">x</button>
                              <label>Executora</label>
                            </div>
                          </div>

                        </div>

                      </div>

                      <div class="grid-1 narrow">
                        <div class="wrap row row-right form-panel-bt">
                          <button type="submit" class="bt-dashboard-control">Salvar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div >
                <!-- Item da lista fim -->

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="wrap row loading-records">
        <a (click)="start=start+3;listMore(start, limit)">Carregar mais registros</a>
      </div>

    </div>
  </div>

  <!-- lightbox Início -->
  <div class="lightbox">
    <a href="#" class="close">
      <span></span>
    </a>
    <div class="content">
      <div class="photo">
        <img src="assets/public/img/img1.jpg" alt="img1">
      </div>
    </div>
  </div>
  <!-- lightbox Fim -->

</section>
