<section id="daily" class="{{mainClass}}">
  <!-- <div *ngIf="loading" style="color: red;">
    Carregando...
  </div> -->
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</section>
