<section class="menu">
  <div class="wrapper">
    <div class="grid-1 narrow">
      <nav>
        <ul class="wrap row row-left">
          <li class="wrap">
            <a routerLink="/time-line" class="active">Linha do Tempo</a>
          </li>
          <li class="wrap">
            <a routerLink="/dashboard/solicitante/executoras" routerLinkActive="active">Gestão de cadastro</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section class="requester">
  <div class="cover">
    <div class="wrapper">
      <div class="inside">
        <div class="grid-2 grid-sm">

          <nav class="wrap row row-left breadcrumb">
            <ul class="wrap row">
              <li class="wrap row">
                <svg viewBox="0 0 64 64" class="w-sz3">
                  <path
                    d="M45.37,9.56l-0.71,0.71c-0.16,0.16-0.44,0.05-0.44-0.18v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22l-0.75,0.75c-0.2,0.2-0.53,0.06-0.53-0.22v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22L9.24,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v29.36c0,0.41,0.34,0.75,0.75,0.75h8 c0.2,0,0.39-0.08,0.53-0.22l0.85-0.85c0.28-0.28,0.76-0.08,0.76,0.32v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22 l0.81-0.81c0.25-0.25,0.68-0.07,0.68,0.28v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22l14.8-14.8 c0.14-0.14,0.22-0.33,0.22-0.53V10.09c0-0.41-0.34-0.75-0.75-0.75H45.9C45.7,9.34,45.51,9.42,45.37,9.56z M36.22,11.96h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32c0,0.2-0.08,0.39-0.22,0.53l-7.41,7.41c-0.24,0.24-0.64,0.07-0.64-0.26V14.86 c0-0.2,0.08-0.39,0.22-0.53l2.15-2.15C35.83,12.04,36.02,11.96,36.22,11.96z M16.69,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64 c0-0.2,0.08-0.39,0.22-0.53l12.93-12.93c0.14-0.14,0.33-0.22,0.53-0.22h4.62c0.41,0,0.75,0.34,0.75,0.75v0.44 c0,0.2-0.08,0.39-0.22,0.53L20.13,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v24.26c0,0.2-0.08,0.39-0.22,0.53l-2.48,2.48 C17.08,51.96,16.88,52.04,16.69,52.04z M27.58,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64c0-0.2,0.08-0.39,0.22-0.53l7.3-7.3 c0.24-0.24,0.64-0.07,0.64,0.26v30.85c0,0.2-0.08,0.39-0.22,0.53l-2.37,2.37C27.97,51.96,27.78,52.04,27.58,52.04z M52.14,38.56 L38.88,51.82c-0.14,0.14-0.33,0.22-0.53,0.22h-4.3c-0.41,0-0.75-0.34-0.75-0.75v-0.23h0.01v-0.42c0-0.2,0.08-0.39,0.22-0.53 l10.46-10.46c0.14-0.14,0.22-0.33,0.22-0.53V14.73c0-0.2,0.08-0.39,0.22-0.53l2.02-2.02c0.14-0.14,0.33-0.22,0.53-0.22h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32C52.36,38.23,52.28,38.42,52.14,38.56z"/>
                </svg>
              </li>
              <li class="wrap row">
                <a routerLink="/time-line" routerLinkActive="active">Linha do Tempo</a>
              </li>
              <li class="wrap row">
                <a href="work.html" class="active">{{obra?.nomeobra}}</a>
              </li>
            </ul>
          </nav>

          <nav class="wrap row row-right headline">
            <ul class="wrap row">
              <!-- <li class="wrap row">
                  <a href="#">{{obra?.solicitante?.nome}}</a>
              </li> -->
              <li class="wrap row">
                <a href="#">{{obra?.executora?.nome}}</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="cover">
    <div class="wrapper">

      <div class="inside map">

        <div class="grid-1 narrow map-box {{activeMaps}}">

          <div class="grid-2">
            <div class="part-one">
              <span>Mapa</span>
            </div>

            <div class="part-two">
              <div class="collapse">
                <a (click)="active('maps');activeMaps === 'active' ? collapseMaps(true) : collapseMaps(false)">
                  <div class="arrow"></div>
                </a>
              </div>
            </div>
          </div>

          <div id="map">
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker
                *ngFor="let m of maps; let i = index"
                [latitude]="m.latitude"
                [longitude]="m.longitude"
                [label]="m.nomeobra.charCodeAt(0)"
                [markerDraggable]="false">
                <agm-info-window>
                  <div class="row">
                    <div class="col s12">
                      <a [routerLink]="['/time-line',m?.id,'work']"
                         style="font-weight: bold">Contrato: {{m?.contrato}}</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <a [routerLink]="['/time-line',m?.id,'work']"
                         style="color:red;font-weight: bold">{{m?.nomeobra}}</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      {{ m?.endereco }} - {{m?.bairro}} - {{m?.cidade}}
                    </div>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </div>

      </div>

      <div class="inside roll">

        <!-- Obra Início -->
        <div class="grid-1 narrow registry">

          <div class="construction">

            <div class="wrap col-left construction-box">
              <div class="grid-2 grid-sm construction-section-first">
                <div class="part-one">
                  <div class="type">
                    <span>Obra</span>
                  </div>
                  <span>Contrato {{obra?.contrato}}</span>
                </div>
                <div class="part-two">
                  <span class="date-range">{{obra?.datainicio | date: 'dd/MM/yyyy'}}
                    | {{obra?.datafim | date: 'dd/MM/yyyy'}}</span>
                  <span class="status {{status(obra?.status)}}">{{obra?.status}}</span>
                </div>
              </div>
              <div class="grid-2 grid-sm construction-section-second">
                <div class="part-one">
                  <span>{{obra?.nomeobra}}</span>
                </div>
                <div class="part-two">
                  <span class="details">
                      <a (click)="openDetail()">Detalhes</a>
                  </span>
                </div>
              </div>

              <div class="construction-section-third">
                <div class="part-one">
                  <span>
                      <a href="#">{{obra?.endereco}}, {{obra?.numero}}, {{obra?.bairro}}
                        , {{obra?.cidade}} - {{obra?.estado}}, {{obra?.cep}}</a>
                  </span>
                </div>
              </div>

              <div class="grid-1 construction-section-fourth">
                <div class="part-one">
                    <span class="status disapproved" *ngIf="isDiarioNaoAprovados">
                        Ainda existem diarios a serem aprovados
                    </span>
                    <button class="bt-dashboard-control"
                            (click)="gerarRelatorio()">Gerar Relatório</button>
                  </div>
              </div>
            </div>

            <!-- Trecho Início -->
            <div class="wrap col-left stretch-box active" [ngClass]="{'active': t.active}"
                 *ngFor="let t of obra?.trechos; let i=index">

              <div class="grid-2 grid-sm stretch-section-first">
                <div class="part-one">
                  <div class="type">
                    <span>Trecho {{i + 1}}</span>
                  </div>
                  <span>{{t?.nome}}</span>
                </div>
                <div class="part-two">
                  <span class="status {{status(t?.status)}}">{{t?.status}}</span>

                  <div class="collapse">
                    <a (click)="t.active = classActive.active(t.active);getDiarios(t)">
                      <div class="arrow" [ngClass]="{'active': t.active}"></div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="daily-wrapper">

                <!--<div class="inside center-0 search">
                  <div class="grid-1">

                    <form>
                      <div class="form-group">
                        <div class="grid-1">
                          <input type="date" name="busca" datatype="dateLTE" id="busca" [(ngModel)]="t.dateFilterGTE"
                                 placeholder="Encontre seu registro " autocomplete="off" value="">
                          <span class="bar"></span>
                          <button type="button" class="clear" name="clear">x</button>
                        </div>
                        <div class="grid-1">
                          <input type="date" name="busca" datatype="dateGTE" id="busca" [(ngModel)]="t.dateFilterLTE"
                                 placeholder="Encontre seu registro " autocomplete="off" value="">
                          <span class="bar"></span>
                          <button type="button" class="clear" name="clear">x</button>
                        </div>
                      </div>
                      <input type="button" (click)="filter(t)" value="Pesquisar"><br>
                      <input type="button" (click)="clearFilter(t)" value="Limpar Pesquisa">
                    </form>
                  </div>
                </div>-->

                <app-message></app-message>

                <div class="daily-wrapper-list">

                  <!-- Diário Início -->
                  <div class="wrap col-left daily-box" [ngClass]="{'active': d.active}" *ngFor="let d of t?.diarios">
                    <div class="grid-2 daily-date">
                      <div class="part-one">
                        <div class="type">
                          <span>{{d?.created_at | date: 'dd/MM/yyyy'}}</span>
                        </div>
                        <span class="date-range">{{d?.created_at | date: 'HH:MM'}}</span>
                      </div>
                      <div class="part-two">
                        <span class="collector-label">Coletor</span>
                        <span class="collector">{{t?.coletor?.nome}} {{t?.coletor?.nome}}</span>

                        <div class="collapse">
                          <a (click)="d.active = classActive.active(d.active)">
                            <div class="arrow" [ngClass]="{'active': d.active}"></div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="daily-box-wrapper">

                      <div class="grid-2 grid-sm daily-supervisor-section" *ngIf="isPermition">
                        <div class="part-one">

                          <div class="type">
                            <span
                              *ngIf="d.status !== statusDiario?.emAndamento">{{d?.laudosdiario?.parecer?.role?.name}}</span>
                            <span *ngIf="d.status === statusDiario?.emAndamento">{{user?.role?.name}}</span>
                          </div>
                          <div class="crea">
                            <span
                              *ngIf="d.status !== statusDiario?.emAndamento">CREA {{d?.laudosdiario?.parecer?.crea}}</span>
                            <span *ngIf="d.status  === statusDiario?.emAndamento">CREA {{user?.crea}}</span>
                          </div>
                          <span
                            *ngIf="d.status !== statusDiario?.emAndamento">{{d?.laudosdiario?.parecer?.nome}} {{d?.laudosdiario?.parecer?.sobrenome}}</span>
                          <span
                            *ngIf="d.status  === statusDiario?.emAndamento">{{user?.nome}} {{user?.sobrenome}}</span>

                        </div>
                        <div class="part-two">
                          <span
                            *ngIf="d.status !== statusDiario?.emAndamento">{{d?.laudosdiario?.parecer?.telefone}}</span>
                          <span *ngIf="d.status  === statusDiario?.emAndamento">{{user?.telefone}}</span>
                          <span *ngIf="d.status !== statusDiario?.emAndamento"
                                class="status {{diarioStatus(d?.status)}}">{{d?.status}}</span>
                          <button *ngIf="d.status === statusDiario?.emAndamento" class="bt-dashboard-control done"
                                  (click)="updateDiario(true, d)">Aprovar
                          </button>
                          <button *ngIf="d.status === statusDiario?.emAndamento" class="bt-dashboard-control error"
                                  (click)="openReasonSection(d)">Reprovar
                          </button>
                        </div>
                      </div>

                      <div class="daily-reason-section"
                           *ngIf="d?.laudosdiario?.edit === 'edit' || d?.laudosdiario?.status === 'Reprovado'">
                        <div class="daily-reason-box active">

                          <div class="grid-2 daily-reason-box-header">
                            <div class="part-one">
                              <span>{{d?.laudosdiario?.created_at | date: 'dd/MM/yyyy'}}</span>
                            </div>
                            <div class="part-two">
                              <span class="date-range">{{d?.laudosdiario?.created_at | date: 'HH:MM'}}</span>
                              <span class="status disapproved">Reprovado</span>
                            </div>
                          </div>

                          <div class="daily-reason-box-content">
                            <div class="form-group">
                              <div class="grid-1">
                                <textarea placeholder="Insira o motivo da reprovação aqui" required name="motivo"
                                          [(ngModel)]="d.laudosdiario.descricao" autocomplete="off"
                                          [disabled]="d?.laudosdiario?.status"></textarea>
                                <span class="bar"></span>
                                <button type="button" class="clear" name="execep">x</button>
                              </div>
                            </div>
                          </div>

                          <div class="daily-reason-box-panel" *ngIf="!d?.laudosdiario?.status">
                            <ul>
                              <li>
                                <button class="bt-dashboard-control" (click)="updateDiario(false, d)">Salvar</button>
                              </li>
                              <li>
                                <button class="bt-dashboard-control"
                                        (click)="d.laudosdiario.edit = '';d.status = statusDiario?.emAndamento;">
                                  Cancelar
                                </button>
                              </li>
                            </ul>
                          </div>

                        </div>
                      </div>

                      <div class="daily-record-section">

                        <ul class="daily-record-gallery">
                          <li *ngFor="let img of d.registroimagem;let index=index" (click)="openLightbox(img?.url)">
                            <a>
                              <span>{{index + 1}}</span>
                              <img src="{{img?.url}}" alt="img1" *ngIf="d?.active">
                            </a>
                          </li>
                        </ul>

                        <div class="daily-record-description">
                          <p>{{d?.descricao}}</p>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>
                <!-- <div class="pagination-number" *ngIf="t?.diarios?.length > 0">
                  <ul>
                    <li *ngFor="let loop of counter(t?.lengthFinal); let indexC=index">
                      <a (click)="listMore(t, indexC)">{{indexC + 1}}</a>
                    </li>
                  </ul>
                </div> -->

              </div>

            </div>
            <!-- Trecho Fim -->

          </div>

        </div>
        <!-- Obra Fim -->

      </div>

    </div>
  </div>

  <!-- lightbox Início -->
  <div class="lightbox" [ngClass]="{'active': imgLightbox}">
    <a class="close" (click)="closeLightbox()">
      <span></span>
    </a>
    <div class="content">
      <div class="photo">
        <img src="{{imgLightbox}}" alt="img1">
      </div>
    </div>
  </div>
  <!-- lightbox Fim -->

  <!-- lightbox Início -->
  <div class="lightbox" [ngClass]="{active: obraDetail}" style="overflow: scroll">
    <a class="close" (click)="closeDetail()">
      <span></span>
    </a>
    <div class="content board max">

      <div class="grid-2">
        <div class="grid-2-1">
          <h2 class="h4">{{obra?.nomeobra}} situado na <br/> {{obra?.endereco}}, {{obra?.numero}}, {{obra?.bairro}}
            , {{obra?.cidade}} - {{obra?.estado}}</h2>
        </div>
        <!-- <div class="grid-1">
          <div class="grid-2">
            <span>Selecione o periodo</span>
          </div>
          <div class="grid-2">
          Inicio<input type="date" name="inicio" [(ngModel)]="inicio"/>
          Fim<input type="date" name="fim" [(ngModel)]="fim"/>
          <button (click)="filtrarPeriodo()">Filtrar</button>
        </div>
        </div> -->
      </div>

      <div class="grid-1">

        <div class="grid-1 narrow">
          <div class="grid-1">

            <div class="content-body-box-line">
              <div class="type">
                <span>EMUSA</span>
              </div>
              <span>{{obra?.solicitante?.nome}}</span>
            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Fiscal da Obra</span>
              </div>
              <div class="crea">
                <span>CREA {{obra?.fiscal?.crea}}</span>
              </div>
              <span>{{obra?.fiscal?.nome}} {{obra?.fiscal?.sobrenome}}</span>
            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Início e fim da Obra</span>
              </div>
              <span class="date-range">{{obra?.datainicio | date: 'dd/MM/yyyy'}}
                | {{obra?.datafim | date: 'dd/MM/yyyy'}}</span>
            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Empregos gerados</span>
              </div>
              <span class="any">Diretos ({{obra?.qtdempregosdir}}) | Indiretos ({{obra?.qtdempregosindi}})</span>
            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Empresa</span>
              </div>
              <span class="any">{{obra?.executora?.nome}}</span>
            </div>

            <div class="content-body-box-line top">
              <div class="type">
                <span>Responsáveis técnicos</span>
              </div>

              <ul class="group">

                <li>
                  <div class="crea">
                    <span>CREA {{obra?.engenheiro?.crea}}</span>
                  </div>
                  <span>{{obra?.engenheiro?.nome}} {{obra?.engenheiro?.sobrenome}}</span>
                </li>

                <li>
                  <div class="crea">
                    <span>CREA {{obra?.geologo?.crea}}</span>
                  </div>
                  <span>{{obra?.geologo?.nome}} {{obra?.geologo?.sobrenome}}</span>
                </li>

              </ul>

            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Valor da obra</span>
              </div>
              <span class="any">{{obra?.valorobra | currency: 'BRL'}}</span>
            </div>

            <!-- <div class="content-body-box-line" *ngFor="let t of obra?.trechos">
              <div class="type">
                <span>Trecho</span>
              </div>
              <span class="any">{{t?.nome}}</span>
              <div class="content-body-box-line" *ngFor="let d of t?.diarios">
                <div class="type">
                  <span>Diario {{d?.nome}}</span>
                </div>
                <span class="any">{{d?.descricao}}</span>
                <br />
                <div class="content-body-box-line" *ngFor="let img of d?.registroimagem">
                  <span class="any">
                    <img width="800" height="600"  src="{{img?.url}}" />
                  </span>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- lightbox Fim -->

  <!-- relatório Início -->
  <div class="lightbox" [ngClass]="{active: obraRelatorio}" style="overflow: scroll">
    <a class="close" (click)="closeRelatorio()">
      <span></span>
    </a>
    <div class="content board max">
      <div class="grid-2">
        <div class="grid-2-1">
          <h2 class="h4">{{obra?.nomeobra}} situado na <br/> {{obra?.endereco}}, {{obra?.numero}}, {{obra?.bairro}}
            , {{obra?.cidade}} - {{obra?.estado}}</h2>
        </div>
        <!-- <div class="grid-1">
          <div class="grid-2">
            <span>Selecione o periodo</span>
          </div>
          <div class="grid-2">
          Inicio<input type="date" name="inicio" [(ngModel)]="inicio"/>
          Fim<input type="date" name="fim" [(ngModel)]="fim"/>
          <button (click)="filtrarPeriodo()">Filtrar</button>
        </div>
        </div> -->
      </div>

      <div class="grid-1">

        <div class="grid-1 narrow">
          <div class="grid-1">

            <div class="content-body-box-line">
              <div class="type">
                <span>EMUSA</span>
              </div>
              <span>{{obra?.solicitante?.nome}}</span>
            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Fiscal da Obra</span>
              </div>
              <div class="crea">
                <span>CREA {{obra?.fiscal?.crea}}</span>
              </div>
              <span>{{obra?.fiscal?.nome}} {{obra?.fiscal?.sobrenome}}</span>
            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Início e fim da Obra</span>
              </div>
              <span class="date-range">{{obra?.datainicio | date: 'dd/MM/yyyy'}}
                | {{obra?.datafim | date: 'dd/MM/yyyy'}}</span>
            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Empregos gerados</span>
              </div>
              <span class="any">Diretos ({{obra?.qtdempregosdir}}) | Indiretos ({{obra?.qtdempregosindi}})</span>
            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Empresa</span>
              </div>
              <span class="any">{{obra?.executora?.nome}}</span>
            </div>

            <div class="content-body-box-line top">
              <div class="type">
                <span>Responsáveis técnicos</span>
              </div>

              <ul class="group">

                <li>
                  <div class="crea">
                    <span>CREA {{obra?.engenheiro?.crea}}</span>
                  </div>
                  <span>{{obra?.engenheiro?.nome}} {{obra?.engenheiro?.sobrenome}}</span>
                </li>

                <li>
                  <div class="crea">
                    <span>CREA {{obra?.geologo?.crea}}</span>
                  </div>
                  <span>{{obra?.geologo?.nome}} {{obra?.geologo?.sobrenome}}</span>
                </li>

              </ul>

            </div>

            <div class="content-body-box-line">
              <div class="type">
                <span>Valor da obra</span>
              </div>
              <span class="any">{{obra?.valorobra | currency: 'BRL'}}</span>
            </div>

            <div class="content-body-box-col">

              <div *ngFor="let t of relatorio?.trechos">

                <div class="content-body-box-line">
                  <div class="type">
                    <span>Trecho</span>
                  </div>
                  <span class="any">{{t?.nome}}</span>
                </div>

                <div *ngFor="let d of t?.diarios">
                    <div class="content-body-box-line">
                      <div class="type">
                        <span>Diario {{d?.nome}}</span>
                      </div>
                      <span class="any">{{d?.descricao}}</span>
                    </div>

                    <div class="grid-8 grid-sm">

                      <div *ngFor="let img of d?.registroimagem">
                        <span class="any">
                          <img src="{{img?.url}}" />
                        </span>
                      </div>

                    </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- lightbox Fim -->

</section>
