<footer>
  <div class="grid-1 ">
    <div class="wrapper">
      <div class="wrap footer">
        <p>Geoflow © 2019 - Todos os direitos reservados</p>
        <a href="#" class="default">Política de Privacidade</a>
      </div>
    </div>
  </div>
</footer>
