<section class="menu">
  <div class="wrapper">
    <div class="grid-1 narrow">
      <nav>
        <ul class="wrap row row-left">
          <li class="wrap">
            <a routerLink="/time-line" class="active">Linha do Tempo</a>
          </li>
          <li class="wrap">
            <a routerLink="/dashboard/solicitante/executoras" routerLinkActive="active">Gestão de cadastro</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<section class="requester">
  <div class="cover">
    <div class="wrapper">
      <div class="inside">
        <div class="grid-2 grid-sm">

          <nav class="wrap row row-left breadcrumb">
            <ul class="wrap row">
              <li class="wrap row">
                <svg viewBox="0 0 64 64" class="w-sz3">
                  <path d="M45.37,9.56l-0.71,0.71c-0.16,0.16-0.44,0.05-0.44-0.18v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22l-0.75,0.75c-0.2,0.2-0.53,0.06-0.53-0.22v0c0-0.41-0.34-0.75-0.75-0.75h-8.33 c-0.2,0-0.39,0.08-0.53,0.22L9.24,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v29.36c0,0.41,0.34,0.75,0.75,0.75h8 c0.2,0,0.39-0.08,0.53-0.22l0.85-0.85c0.28-0.28,0.76-0.08,0.76,0.32v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22 l0.81-0.81c0.25-0.25,0.68-0.07,0.68,0.28v0c0,0.41,0.34,0.75,0.75,0.75h8c0.2,0,0.39-0.08,0.53-0.22l14.8-14.8 c0.14-0.14,0.22-0.33,0.22-0.53V10.09c0-0.41-0.34-0.75-0.75-0.75H45.9C45.7,9.34,45.51,9.42,45.37,9.56z M36.22,11.96h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32c0,0.2-0.08,0.39-0.22,0.53l-7.41,7.41c-0.24,0.24-0.64,0.07-0.64-0.26V14.86 c0-0.2,0.08-0.39,0.22-0.53l2.15-2.15C35.83,12.04,36.02,11.96,36.22,11.96z M16.69,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64 c0-0.2,0.08-0.39,0.22-0.53l12.93-12.93c0.14-0.14,0.33-0.22,0.53-0.22h4.62c0.41,0,0.75,0.34,0.75,0.75v0.44 c0,0.2-0.08,0.39-0.22,0.53L20.13,24.03c-0.14,0.14-0.22,0.33-0.22,0.53v24.26c0,0.2-0.08,0.39-0.22,0.53l-2.48,2.48 C17.08,51.96,16.88,52.04,16.69,52.04z M27.58,52.04h-4.3c-0.41,0-0.75-0.34-0.75-0.75V25.64c0-0.2,0.08-0.39,0.22-0.53l7.3-7.3 c0.24-0.24,0.64-0.07,0.64,0.26v30.85c0,0.2-0.08,0.39-0.22,0.53l-2.37,2.37C27.97,51.96,27.78,52.04,27.58,52.04z M52.14,38.56 L38.88,51.82c-0.14,0.14-0.33,0.22-0.53,0.22h-4.3c-0.41,0-0.75-0.34-0.75-0.75v-0.23h0.01v-0.42c0-0.2,0.08-0.39,0.22-0.53 l10.46-10.46c0.14-0.14,0.22-0.33,0.22-0.53V14.73c0-0.2,0.08-0.39,0.22-0.53l2.02-2.02c0.14-0.14,0.33-0.22,0.53-0.22h4.62 c0.41,0,0.75,0.34,0.75,0.75v25.32C52.36,38.23,52.28,38.42,52.14,38.56z"/>
                </svg>
              </li>
              <li class="wrap row">
                <a routerLink="/time-line" routerLinkActive="active">Linha do Tempo</a>
              </li>
              <li class="wrap row">
                <a href="work.html" class="active">{{obra?.nomeobra}}</a>
              </li>
            </ul>
          </nav>

          <nav class="wrap row row-right headline">
            <ul class="wrap row">
              <!-- <li class="wrap row">
                  <a href="#">{{obra?.solicitante?.nome}}</a>
              </li> -->
              <li class="wrap row">
                <a href="#">{{obra?.executora?.nome}}</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="main">
  <div class="cover">
    <div class="wrapper">

      <div class="inside roll">

        <!-- Relatório Início -->
        <div class="grid-1 narrow registry">

          <div class="construction">
            <div class="content board max">

              <div class="grid-1">
                <div class="grid-1">
                  <h2 class="h4">{{obra?.nomeobra}} situado na <br /> {{obra?.endereco}}, {{obra?.numero}}, {{obra?.bairro}}, {{obra?.cidade}} - {{obra?.estado}}</h2>
                </div>
              </div>

              <div class="grid-1">

                <div class="grid-1 narrow">
                  <div class="grid-1">

                    <div class="content-body-box-line">
                      <div class="type">
                        <span>EMUSA</span>
                      </div>
                      <span>{{obra?.solicitante?.nome}}</span>
                    </div>

                    <div class="content-body-box-line">
                      <div class="type">
                        <span>Fiscal da Obra</span>
                      </div>
                      <div class="crea">
                        <span>CREA {{obra?.fiscal?.crea}}</span>
                      </div>
                      <span>{{obra?.fiscal?.nome}} {{obra?.fiscal?.sobrenome}}</span>
                    </div>

                    <div class="content-body-box-line">
                      <div class="type">
                        <span>Início e fim da Obra</span>
                      </div>
                      <span class="date-range">{{obra?.datainicio | date: 'dd/MM/yyyy'}} | {{obra?.datafim | date: 'dd/MM/yyyy'}}</span>
                    </div>

                    <div class="content-body-box-line">
                      <div class="type">
                        <span>Empregos gerados</span>
                      </div>
                      <span class="any">Diretos ({{obra?.qtdempregosdir}}) | Indiretos ({{obra?.qtdempregosindi}})</span>
                    </div>

                    <div class="content-body-box-line">
                      <div class="type">
                        <span>Empresa</span>
                      </div>
                      <span class="any">{{obra?.executora.nome}}</span>
                    </div>

                    <div class="content-body-box-line top">
                      <div class="type">
                        <span>Responsáveis técnicos</span>
                      </div>

                      <ul class="group">

                        <li>
                          <div class="crea">
                            <span>CREA {{obra?.engenheiro?.crea}}</span>
                          </div>
                          <span>{{obra?.engenheiro?.nome}} {{obra?.engenheiro?.sobrenome}}</span>
                        </li>

                        <li>
                          <div class="crea">
                            <span>CREA {{obra?.geologo?.crea}}</span>
                          </div>
                          <span>{{obra?.geologo?.nome}} {{obra?.geologo?.sobrenome}}</span>
                        </li>

                      </ul>

                    </div>

                    <div class="content-body-box-line">
                      <div class="type">
                        <span>Valor da obra</span>
                      </div>
                      <span class="any">{{obra?.valorobra | currency: 'BRL'}}</span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Obra Fim -->

      </div>

    </div>
  </div>

  <!-- lightbox Início
  <div class="lightbox" [ngClass]="{'active': imgLightbox}">
    <a class="close" (click)="closeLightbox()">
      <span></span>
    </a>
    <div class="content">
      <div class="photo">
        <img src="{{imgLightbox}}" alt="img1">
      </div>
    </div>
  </div>
  lightbox Fim -->

</section>
