<section class="main">
  <div id="cover">
    <div class="wrapper">
      <div class="inside center-1">
        <div class="grid-1">

          <div class="login-box">

            <div class="login-box-in">

              <form (ngSubmit)="onSubmit()" >

                <div class="grid-1">

                  <div class="grid-1">
                    <h2>Entre com sua conta</h2>
                  </div>
                  <app-message></app-message>

                  <div class="grid-1">

                    <div class="form-group">
                      <div class="grid-1">
                        <input id="identifier" type="text" placeholder="Insira seu nome de usuário aqui"  class="validate" name="identifier" [(ngModel)]="login.identifier" />
                        <span class="bar"></span>
                        <button type="button" class="clear" (click)="login.identifier = ''" name="identifier">x</button>
                        <label>Nome</label>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="grid-1">
                        <input type="password" name="password" placeholder="Insira sua senha aqui" required [(ngModel)]="login.password" />
                        <span class="bar"></span>
                        <button type="button" class="clear" (click)="login.password = ''" name="password">x</button>
                        <label>Senha</label>
                      </div>
                    </div>

                  </div>

                  <div class="grid-1">
                    <div class="wrap">
                      <button type="submit" class="default">Entrar</button>
                    </div>
                  </div>

                  <div class="grid-1">
                    <div class="wrap sign">
                      <span>Esqueceu seu usuário ou senha? <a href="#" class="default">Recuperar</a></span>
                    </div>
                    <div class="wrap sign">
                      <span>Ainda não possui uma conta? <a href="#" class="default">Cadastrar</a></span>
                    </div>
                  </div>

                </div>

              </form>

            </div>

          </div>

        </div>
      </div>
    </div>
    <section id="dbg">
      <div class="bg1 active"></div>
      <div class="bg2"></div>
      <div class="bg3"></div>
      <div class="bg4"></div>
    </section>
  </div>
</section>
